<!-- Apartado visual donde se muestra donde se agregan los usuarios, se modifican y la lista de los usuarios -->
<div class="jumbtron">
    <h1 class="display 4 text-center"> Administración de Usuarios</h1>

    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">Añadir Usuario</h6>
            
            <app-agregar-usuario></app-agregar-usuario>
        </div>
        <div class="col-md-7">
            
            <app-lista-usuarios></app-lista-usuarios>
        </div>
    </div>
</div>